## Python Basics

### Variables
1. Variable names can be made of alphanumeric characters and underscore and they cannot start with a number. They are also case sensitive.
2. Variable assignment is done with the = operator. For example the command x=1 cretaes the varibale x and assigns it the value 1. The value of the variable is detremined dynamically (i.e it does not need to be defined beforehand) from the assignment.
3. Fundamental types are: integer, float, boolean, string

#### Integers and Floats (https://docs.python.org/3/tutorial/introduction.html#numbers)

In [ ]:
x = 1
print(type(x))

In [ ]:
x = 1.0
print(type(x))

In [ ]:
print(int(3.14))#casting float into integer

print(float(5))#casting integer into float

In [ ]:
#Operations
x = 2
y = 5.0

print('Addition ',x+1) #Addition
print('Subtraction ',x-1) #Subtraction
print('Multiplication ',x*2) #Multiplication
print('Exponentiation ',x**3) #Exponentiation
print(x+y) #result of an operation on integer and float is a float
print('Division',y/x)
print('Integer Division', y//x)
print('Remainder',y%x)

#### Booleans

In [ ]:
x = 1
y = x==2
print('The type of y is', type(y))
print('The value of y is', y)

In [ ]:
#casting Boolean into integer
x = True
y = False
print('True is cast into the integer %i'%int(x))
print('False is cast into the integer %i'%int(y))
#casting numbers into boolean. bool function converts every number other than 0 into True and 0 into False
print("Any number not 0 is converted into ",bool(2.3))
print("Zero integer is converted into ", bool(0))
print("Zero float is converted into ", bool(0.0))
bool(-1.1)

In [ ]:
#operations on booleans
x = True
y = False
print(x and y)
print(x or y)
print(not x)
print((x and y) or not x)

#### Strings (https://docs.python.org/3/tutorial/introduction.html#strings)

In [ ]:
x = 'KFUPM' #strings are defined whnether between single quotations
y = "Data Science" # or between double quotations
print("The type of the string x is ", type(x))
print('The length of the string "Data Science" is %i.' % len(y)) # space is a character
print("The 3rd character of KFUPM is %s."% x[2]) #notice indexing in Python starts from 0.
print("The last character of KFUPM is %s."% x[-1]) #notice indexing in Python from right to left starts with -1

In [ ]:
#casting a number or a boolean into string
str(1),str(False)

In [ ]:
#casting string to integers
x = '1010001'
print('The string x in base 10 is the integer %i'%int(x))#int converts strings to integers in base 10
print('The string x in base 2 is the integer %i'%int(x,base=2))#base argument tells how to interpret the integer, default is 10.
print('The string x in base 3 is the integer %i'%int(x,base=3))

In [ ]:
y = 'ALI'
int(y,base=25)

In [ ]:
#operations on strings
x = 'Math'
y = '506'
t = 503
z = x + ' ' + y # addition operation on strings is concatanation
print(z)
print('%s%s%s'%(x,' ',y))
print('%s%s%i'%(x,' ',t))

In [ ]:
#some important methods on strings
x = 'kfupm'
y = 'MATH 506'
print(x.capitalize())#changes the firt character into upper case
print(x.upper())#cahnges all characters into upper case
print(y.lower())#changes all characters into lower case
print(y.replace('6','3'))# s.replaces('a','b') repace 'a' by 'b'. If no 'a', does nothing
print(y.split('H'))# splits the string at the given character. default splits at blank. if character is not in the string, does nothing
print(y.split())
print(x.split())
x.

In [ ]:
x = 12
x.capitalize()

### Data Types
The important data types of Python are List, Dictionary, Set, and Tuple.

#### Lists (https://docs.python.org/3/tutorial/introduction.html#lists and https://docs.python.org/3/tutorial/datastructures.html#more-on-lists)
Lists are Python version of arrays that can contain diffent types of items. Items are indexed and seperated by commas and collected between brackets.

In [ ]:
#indexing and slicing lists
print('The first item on the list is', x[0]) #left-right indexing starts at 0
print('The last item on the list is', x[-1]) #right-left indexing starts at -1
print('Items 1, 2, 3 on the list are', x[1:4])# slicing syntax is a:b where index a is included, index b is excluded
print('All items from the beginning until the 3rd item(excluded)',x[:3])# slicing synthax :a means from the beginning till ath item (exclude)
print('All items from the 3rd item(included) until the last item',x[3:])# slicing synthax a: means from theath item (inclded) untill the end
print('Return every 2nd item starting from the 1st until the 6th',x[1:6:2])#slicing a:b:c means return starting from ath until bth(excluded) every cth item

In [ ]:
#addition operation on lists is a concatanation
y = ['Dammam',2020,'KSA']
print(x+y)

In [ ]:
#defining lists
x = [1,2.3,'10',True,'KFUPM','MATH',506,False,['a','b']]
print(type(x))

In [ ]:
#some important methods on lists
x.append([1,2])#adds to the end of x the item [1,2]
print(x) 
x.extend([1,2])#adds to the end of the list the itmes 1 and 2
print(x) 
x.remove([1,2]) #remove the first occurence of item [1,2]
print(x)
x.insert(3,['a','b']) # inserts to the 3rd index the item ['a','b']
print(x)
print(x.pop())#removes and returns the last item on the list
print(x.pop(5))#removes and returns the item at the 5th index
x.reverse()
print(x)
z = [-3,10,-23,56,9]
z.sort() #by default the order is ascending
print('Ascending sorting', z)
z.sort(reverse=True)
print('Descending sorting', z)
x.pop(1:4)

#### Dictionaries (https://docs.python.org/3/tutorial/datastructures.html#dictionaries)
Dictionaries are set of key:value pairs. Dictionaries are unordered.

In [ ]:
#defining dictionaries 1
d = {'Name':['Muhammet','Ahmet','Ali'],'Age':[18,22,20],'School':'KFUPM'}
print(d)

In [ ]:
#defining dictionaries 2
dict([('Name',['Muhammet','Ahmet','Ali']),('Age',[18,22,20]),('School','KFUPM')])

In [ ]:
#defining dictionaries 3
a = ['Name','Age','School']
b = [['Muhammet','Ahmet','Ali'],[18,22,20],'KFUPM']
dict(zip(a,b))

In [ ]:
list(zip(a,b))

In [ ]:
#defining dictionaries #4
d = {} #creates an empty dictionary
d['Name'] = ['Muhammet','Ahmet','Ali']
d['Age'] = [18,22,20]
d['School'] = 'KFUPM'
d

In [ ]:
d['School'][0]='T'

In [ ]:
#some important methods
print('All the keys of the dictionary',d.keys()) # returns all the keys
print('All the values of the dictionary',d.values()) #returns all the values

In [ ]:
#accessing key values
print('Values of the key Name:',d['Age'].lower())

In [ ]:
#adding a new key:value pair 
d['Country'] = ['KSA','BHR','JOR']
print(d)

#### Sets (https://docs.python.org/3/tutorial/datastructures.html#sets)
A set is an unordered collection with no duplicate elements.

In [ ]:
#in math
{ } set
#in python
{ } dictionary

In [ ]:
#defining sets
x = set([1,2,3,3,3,3])
print(x)

In [ ]:
#set gives unique items in a string or list
#s = set('KKFUPMFUUU')
#print(s)
l = ['1',1,4,1,5,7,'5',4]
print(set(l))

In [ ]:
#operations on sets
s1 = set([1,3,5,8,10])
s2 = set([2,4,6,8,10])
print('s1-s2',s1-s2)
print('s2-s1',s2-s1)
print('Union of two sets', s1 | s2)
print('Intersection of two sets', s1&s2)

In [ ]:
#sets are unordered
s1 = set([1,2,3])
s2 = set([2,3,1])
print(s1==s2)

In [ ]:

l1 =[1,2,3]
l2 =[2,3,1]
print(l1==l2)

In [ ]:
s1.remove(4)
s1

In [ ]:
l1.remove(4)
l1

#### Tuples (https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)
Tuples are ordered collections of items between paranthesis separated by commas. Tuples can be sliced in the same way as lists.

In [ ]:
#defining tuples
t = ([1,2],3,'tuple',(1,2,3))
t[1:]

In [ ]:
#tuples are ordered
t1 = (1,2,3)
t2 = (2,3,1)
print(t1==t2)

#### Mutable vs Immutable
Immutable: An object with a fixed value. Immutable objects include numbers, strings and tuples. Such an object cannot be altered. A new object has to be created if a different value has to be stored. 

Mutable: Mutable objects can change their value.Mutable objects include lists, sets.

In [ ]:
t = (1,2,3)
t[0]=4

In [ ]:
l = [1,2,3]
l[0]=4
print(l)

In [ ]:
s = 'KFUPM'
s[0] = 'T'

#### If - Else Syntax (https://docs.python.org/3/tutorial/controlflow.html#if-statements)

In [ ]:
x=0
if (x>0):
    print('x is positive')
else:
    print('x is not positive')

In [ ]:
x=2
if (x>0):
    print('x is positive')
elif (x<0):
    print('x is negative')
else:
    print('x is 0')

In [ ]:
x=3
if (x>0) and (x<5):
    print('x is positive and less than 5')

#### For Loop Syntax (https://docs.python.org/3/tutorial/controlflow.html#for-statements)
For loops are designed over iterable objects. An object capable of returning its members one at a time is called an iterable. Examples of iterables include lists, strings, tuples, dictionaries, ranges, file objects, and objects of any classes you define with an __iter__() method or with a __getitem__() method that implements Sequence semantics.

**1. Range function**: To loop over a sequence of numbers we use the range function https://docs.python.org/3/tutorial/controlflow.html#the-range-function

In [ ]:
x = range(3,10)
print(x)
print(type(x))
print(list(x)) # to see explicitly the range object

In [ ]:
for i in range(10):
    print(i**2)

**2. Looping over lists & tuples**

In [ ]:
x = [45,2,'3','four','']
#total = 0

for i,item in zip(range(len(x)),x):
    #total = total + bool(i)
    print('This is index', i)
    print('This is the item', item)
    print('____')
#print(total)

In [ ]:
list(enumerate(x))

**3. Looping over strings**

In [ ]:
for c in 'kfupm':
    print(c.upper())

**4.Looping over dictionaries**
In fact it loops over the keys

In [ ]:
d = {'Name':['Muhammet','Ahmet','Ali'],'Age':[18,22,20],'School':'KFUPM'}

In [ ]:
for key in d:
    print(d[key])

In [ ]:
for asd in d.keys():
    print(d[asd])

#### List Comprehensions
A method to create lists using for loops and conditionals

In [ ]:
l = [str(i) for i in range(100)]
print(l)

In [ ]:
l = [i**2 for i in range(1000) if i%2==0]
print(l)

In [ ]:
l = [(i,i**2) if i%2==0 else (i,i**3) for i in range(100)]
print(l)

### Functions
1. Python Built-in Functions (https://docs.python.org/3/library/functions.html)

In [ ]:
#length of an object
l = [[1,2],3,'LIST']
d = {'Name':['Muhammet','Ahmet','Ali'],'Age':[18,22,20],'School':'KFUPM'}
s='KFUPM'
print('Length of a list is number of items in that list',len(l))
print('Length of a dictionary is the number of key:value pairs',len(d))
print('Length of a string is number of characters in the string', len(s))

In [ ]:
#map function
list(map(abs,[-23,-12,-7,0,1,4]))
list(map(abs,(-23,-12,-7,0,1,4)))

**2. Regular Functions** (https://docs.python.org/3/tutorial/controlflow.html#defining-functions)

In [ ]:
def fun(asd):
    '''x is a number'''
    return (asd,asd**2)
fun()

In [ ]:
def g(base=0,exp=1):
    return base**exp
#print(g())
print(g(2))
print(g(2,3))
print(g(exp=9,base=2))

**3. One liners (a.k.a Lambda Functions)**
The syntax of one liners are as follows:

name_of_function = lambda list_of_variables: function_exp

In [ ]:
f = lambda x,y:x**y
f(2,3)

In [ ]:
list(map(lambda x,y: x**y,[2,3,4],list(map(lambda x:x-1,[2,3,4]))))

### Classes
Please start reading about classes. (https://docs.python.org/3/tutorial/classes.html). We will cover them later in the course.

## NumPy Basics
NumPy which stands for the numerical Python is the standard package to work with numerical data in Python. The main object of the NumPy library is an array. An **array** is a grid system used to store homogenous data type.

In [ ]:
import numpy as np

In [ ]:
array([1,2,3,4,5])

In [ ]:
#defining an array
arr1 = np.array([1,2,3,4,5]) #1-dimensional (column vectors)
arr2 = np.array([[1,2,3],[4,5,6]]) #2-dimensional(list of lists) (matrices)
arr3 = np.array([[[1,2],[3,4]],[[5,6],[7,8]]]) # 3-dimensional (list of lists of lists) (tensors)

In [ ]:
arr3

In [ ]:
#shape of the array
print(arr1.shape)
print(arr2.shape)
print(arr3.shape)

In [ ]:
#reshaping arrays. It first flattens all arrays by rows,then reshapes.
#arr1_r = arr1.reshape(1,5) #row vector
#arr2_r = arr2.reshape(3,2,1)
arr3_r = arr3.reshape(4,2)

In [ ]:
1,2
,3,4
...,8
arr3_r

In [ ]:
arr2

**indexing arrays**: Similar to lists, but has to be done for all dimensionsTo access a specific element an indexing system is required. The most common indexing system used is tuples.

In [ ]:
#print(arr2[1,2])# entry in the 2nd row 3rd column
#print(arr2[:,2])#3rd column
print(arr2[1,:-1])#2nd row, reurned as column vector

1-dimensional arrays may look similar to lists. However they have some major differences. 

Arrays contain only one type of data whereas lists may contain different types of data.

In [ ]:
np.array([1,'KFUPM',1953,True])

In [ ]:
np.array([False,1953,True])

In [ ]:
np.array([1953,True],dtype='str')

**Broadcasting**:Second, operations on arays are defined element wise (broadcasting).If the dimensions do not match erro message is raised

In [ ]:
arr1 = np.array([3,4,5])
arr2 = np.array([2,3,4])

print(arr1+arr2)
print(arr1*arr2)
print(arr1**arr2)
print(arr1/arr2)
print(arr1//arr2)

In [ ]:
l1 = [3,4,5]
l2 = [2,3,4]

l1+l2

In [ ]:
arr1 = np.array([3,4,5])
print(arr1+1)
print(arr1*2.5)
print(arr1/2)

In [ ]:
arr3=np.array([2,3])
arr1+arr3

**Important methods on Arrays**

In [ ]:
arr = np.array([105, 129, 87, 86, 111, 111, 89, 81, 108, 92, 110, 100, 75, 105, 103, 109, 76, 119, 
        99, 91, 103, 129,106, 101, 84, 111, 74, 87, 86, 103, 103, 106, 86, 111, 75, 87, 102, 
        121, 111, 88, 89, 101, 106, 95, 103, 107, 101, 81, 111, 109, 104])
print('Maximum of the array:',arr.max())
print('Minimum of the array:',arr.min())
print('Sum of the items in the array:', arr.sum())
print('Mean of the items in the array:', arr.mean())
#Quantiles are lines that divide data points into equal groups.
#Percentailes are quantiles that divide the data into 100 equal groups.

print('25th percentile of the array: %.2f' % (np.percentile(arr,25)/4))
print('75th percentile of the array: %i' % np.quantile(arr,0.75))
print('Median of the array: %i' % np.quantile(arr,0.5))

In [ ]:
arr2 = np.array([[-2,3,-1],[0,-3,5]])
arr2

In [ ]:
arr2 = np.array([[-2,3,-1],[0,-3,5]])
#print('Maximum of the array:',arr2.max(axis=0)) #axis=0 is the vertical axis. it find the max in every column
print('Minimum of the array:',arr2.min(axis=1)) #axis=1 is the vertical axis. it finds the min in every row.
#print('Sum of the items in the columns', arr2.sum(axis=0))
#print('Mean of the items in the rows', arr2.mean(axis=1))

### Basic Linear Algebra Operations

In [ ]:
#transpose of a marix
A = np.array([[2,3,-1],[0,2,-4]])
print(A.T)
print(np.transpose(A))

In [ ]:
#dot (scalar) product
u = np.array([2,3,4,5])
v= np.array([-2,3,1,4])

print(np.sqrt(u.dot(u)))#method on an array
print(np.dot(u,v))#function on two arrays

In [ ]:
#matrix product
A = np.array([[2,3,-1],[0,2,-4]])
B = np.array([[-1,0,3,4],[-2,1,0,-3],[4,1,2,-3]])
print('Using np.dot:')
print(np.dot(A,B))
print('Using np.matmul:')
print(np.matmul(A,B))
#The difference between the two functions is visible for the products of higher dimensional arrays.

### Saving, Loading Numpy Objects
1. np.save() or np.savetxt functions are used to save numpy arrays as files.

In [ ]:
arr = np.array([[-1,0,3,4],[-2,1,0,-3],[4,1,2,-3]])
#np.save('my_matrix', arr) # saves it to the working directory as my_matrix.npy
np.savetxt('C:\\Users\\atatar\\OneDrive\\T201\\my_matrix.csv',arr)# saves it to the directory C:\\Users\\atatar\\OneDrive\\T201\\ as my_matrix.csv
np.savetxt('C:\\Users\\atatar\\OneDrive\\T201\\my_matrix.txt',arr)# saves it to the directory C:\\Users\\atatar\\OneDrive\\T201\\ as my_matrix.txt

2. np.load() or np.loadtxt() can be used to load npy, csv, txt files to your work enviroment

In [ ]:
x = np.load('my_matrix.npy')

In [ ]:
x

In [ ]:
A = np.loadtxt('C:\\Users\\atatar\\OneDrive\\T201\\my_matrix.csv')
A[0,:]

## Random numbers, vectors, and matrices
There are two ways to deal with random numbers: 1) using Python's built-in library random (https://docs.python.org/3/library/random.html), or 2) numpy's random class (https://docs.scipy.org/doc/numpy-1.14.0/reference/routines.random.html)

**1. Random Module of Python**
Python's random module is not loaded when Python is loaded. It has to be imported separately.

In [ ]:
import random

In [ ]:
print(random.random())#a random number bewtween 0 and 1
print(random.uniform(1,10))#a random number bewtween 1 and 10
print(random.randint(1,100)) # a random integer between 1 and 100

In [ ]:
l=[i**2 for i in range(2,10)]
print('Original List:',l)
print('Shuffled List:',random.sample(l,len(l)))#shuffle the whole list
print('Select randomly 5 elements:', random.sample(l,5))#selects randomly 5 items without replacement fromthe list l
print('Select randomly 10 integers less than 10000',random.sample(range(10000),10))#selects randomly 10 elements withour replacement from a range aobject

In [ ]:
print(random.choice([i**0.5 for i in range(100)]))

**2. Numpy Random Module** (https://docs.scipy.org/doc/numpy-1.14.0/reference/routines.random.html)

This will help us to take the random built-in library of Python to the next level and define random matrices or in general random high dimensional arrays.

In [ ]:
print(np.random.random()) # a random number between 0 and 1
print(np.random.rand(3,4)) # a random matrix of size 3 by 4 with entries selected from a uniform distribution on [0,1) 
print(np.random.random((3,4))) # a random matrix of size 3 by 4 with entries selected from a uniform distribution on [0,1)

In [ ]:
#understanding the uniform distribution (values are spread evenly in the interval [0,1)
uni100 = np.random.random((10,10)).reshape(100,-1)
uni1000 = np.random.random((10,100)).reshape(1000,-1)

In [ ]:
#understanding the normal distribution
nor = np.random.normal(size=100)
nor100 = np.random.normal(size=(10,10)).reshape(100,-1)
nor1000 = np.random.normal(size=(10,100)).reshape(1000,-1)
nor10000 = np.random.normal(1,2,size=(100,100)).reshape(10000,-1)

## MatplotLib 
(https://matplotlib.org/tutorials/introductory/usage.html#sphx-glr-tutorials-introductory-usage-py) 

Matplotlib is a built-in visualisation library of Python.

In [ ]:
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#1 figure, 1 axes
fig, ax = plt.subplots()  # Create a figure containing a single axes.
ax.plot([1, 2, 3, 4], [1, 4, 2, 3])  # Plot some data on the axes.

In [ ]:
# 1 figure, 2 axes
fig,(ax1,ax2) = plt.subplots(2,1,figsize=(8,8),sharex=True)
ax1.plot([1, 2, 3, 4], [1, 4, 2, 3],color='red',marker='o')
ax2.plot([1, 2, 3, 4],[2,1,-5,10],color='blue',marker='*')
ax1.set_title('Red Plot',color='red',fontsize=14)
ax2.set_title('Blue Plot')
ax1.set_xlabel('Time')

In [ ]:
# 1figure, 1 axes, 2 plots
fig,ax = plt.subplots(figsize=(16,8))
ax.plot([1, 2, 3, 4], [1, 4, 2, 3],color='red',marker='o',label='Red Plot')
ax.plot([1, 2, 3, 4],[2,1,-5,10],color='blue',marker='*',label='Blue Plot')
ax.set_title('Two Plots')
ax.set_xlabel('Time')
ax.set_ylabel("Temp.")
ax.legend()

Pyplot allows you to do the above with less coding.

In [ ]:
#general syntax of pyplot()
plt.figure(figsize=(16,6))
plt.plot([1, 2, 3, 4], [1, 4, 2, 3],color='red',marker='o',label='Red Plot')
plt.plot([1, 2, 3, 4],[2,1,-5,10],color='blue',marker='*',label='Blue Plot')
plt.xlabel('Time')
plt.ylabel('Temp')
plt.title('Two Plots')
plt.legend()

In [ ]:
#scatter plot
x=[1,-3,2]
y=[1,2,3]
x1=[3,-4,9]
y1=[2,1,-5]
plt.figure(figsize=(12,6))
plt.scatter(x,y,label='1st line',color='red')
plt.scatter(x1,y1,label='2nd line',color='blue')
plt.xlabel('Time')
plt.ylabel('Centrality')
plt.title('My Python Scatter Plot')
plt.legend()
plt.show()

In [ ]:
#histograms to understand the distribution
uni100 = np.random.uniform(size=100)
#uni1000 = np.random.uniform(size=1000)
#uni10000 = np.random.uniform(size=10000)
plt.figure(figsize=(12,8))
plt.hist(uni100,bins=10,label='100 points',color='r',density=True)
sns.kdeplot(uni100)
#plt.hist(uni1000,bins=10,label='10000 points',color='b')
plt.legend()
plt.show()

In [ ]:
#understanding the normal distribution
nor = np.random.normal(size=100)
nor100 = np.random.normal(size=100)
nor1000 = np.random.normal(size=1000)
nor10000 = np.random.normal(size=10000)
#plt.figure(figsize=(12,8))
#plt.hist(nor100,bins=10,label='100 points',color='r')
#plt.hist(nor1000,bins=10,label='10000 points',color='b')
plt.hist(nor10000,bins=100,label='100000 points',color='g',density=True)
sns.kdeplot(nor10000)
plt.legend()
plt.show()

## Pandas
Pandas is a python library that provides data structures and functions for working with structured data primarily tabular data.

Pandas Series: 1D array-like object, data is represented in many rows but one column.

Pandas Dataframe: 2D array-like object, data is represented like a table as in rows and columns.

In [ ]:
import pandas as pd

In [ ]:
#creating Data Series and Data Frames
series = pd.Series(np.random.random(10))
series

In [ ]:
#creating Data Frames
df_dc = pd.DataFrame({'Uniform':np.random.uniform(1,10,100),'Normal':np.random.normal(2,1,100)})
df_dc.head()#shows by default the first 5 items

In [ ]:
#creating DataFrames from arrays
arr = np.random.normal(size=(100,2))
df_arr = pd.DataFrame(arr,columns = ['A','B'], index=range(1,101))
df_arr.tail()#shows by default the last five items

In [ ]:
#saving dataframe as csv file
df_dc.to_csv('datasets\\df_arr.csv')

In [ ]:
df_dc

In [ ]:
df_dc.values

In [ ]:
# loading dataframes from files
df_iris = pd.read_csv('datasets\\iris.csv')
df_diabetes = pd.read_excel('datasets\\diabetes.xlsx')

print('IRIS')
df_iris.head(3)

In [ ]:
print('DIABETES')
df_diabetes.tail(3)

Given that we have loaded our data, we still need to have control over the data. The next lines we discuss how to: Check attribute of our data/Dataframe

dtypes, columns, axes, ndim, size, shape, values

In [ ]:
print('IRIS Columns:',df_iris.columns)
print('IRIS Shape:' , df_iris.shape)
print('IRIS Values:',df_iris.values)#turns the content of every index into a list

We can have a general look at the DataFrames using describe(),info(),max(),min(), mean() methods.

In [ ]:
df_iris.info()

In [ ]:
df_iris.describe()# gives descriptive statistical information on numerical columns

In [ ]:
df_iris.max()

In [ ]:
df_iris.mean()

**Manipulating DataFrames using columns**

In [ ]:
#We can access the dataframe using column names:
sl = df_iris['sepal.length']
sl.head()

In [ ]:
#the above returns a dataseries and we can apply the methods on them
print('Max Sepal Length:%f'%sl.max())
print('Sepal Length Mean:%.3f'%sl.mean())

In [ ]:
#we can select multiple columns
df_iris[['sepal.length','sepal.width']]

In [ ]:
# we can use conditionals to select data
df_iris[df_iris['petal.length']>2.5]

In [ ]:
df_iris[((df_iris['petal.length']>2.5) & (df_iris['petal.width']==2.5))]

**Manipulating DataFrames using Rows**

We can control the rows of a dataframes using loc and iloc methods. If we need to select a range of rows, using their indices we can use loc method. If we need to select a range of rows and/or columns, using the location of their indices we can use the iloc method.

In [ ]:
df_iris.loc[:5]

In [ ]:
df_iris.iloc[:5]

In [ ]:
df_diabetes

**Plotting with Pandas**

In [ ]:
df_iris.plot(figsize=(12,6));
plt.title('IRIS DATASET');

In [ ]:
df_iris['sepal.length'].plot(kind='hist',bins=20,figsize=(12,8),title='Sepal Length Histogram')

In [ ]:
df_iris.boxplot(figsize=(12,8))

**Seaborn** (https://seaborn.pydata.org/index.html)

Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(12,8))
sns.boxplot(data=df_iris)
plt.title('Boxplot')

**Dealing with Dates**

In [ ]:
df_oil = pd.read_csv('\\datasets\\oil_price.csv')
df_oil.head()

## SQL

### Basics of SQL
SQL (Structured Quedy Language) is a programming language to define, store, and retrive data from Relational Database Management System (RDBMS).

SQL consists of two parts:
1. Data Definition Language (DDL) used to define tables, and add/delete data to/from tables.
2. Data Manipulation Language (DML) used to query data from the system.

RDBMS only stores data as tables. Tables are collections of different types of data like strings, integers, date, etc.  The set of types of data is called *domain* of the table.

|city       |  province      | population 
:----------:|:--------------:|:-------------:|
   Riyadh   |    Riyadh      | 4205961 
   Dammam   | Eastern        | 768602
   Jeddah   |Mecca           | 2867446
   Mecca    | Mecca          | 1323624
   Khobar   | Eastern        | 165799
   Dhahran  | Eastern        | 99540
   Medina   | Medina         | 130000

In [ ]:
from PIL import Image
Image.open("sql.PNG")

### Using SQL in Jupyter Notebook
The textbook 'A Hand's on Introdcution to Data Sceince' explains in Chapter 7 how to use MySQL with Jupyter Notebook. However Jupyter notebooks come with a SQLite extension that we will use to connect to a test database we will create for this occasion. First install ipython-sql package using the anaconda prompt (conda install -c conda-forge ipython-sql).

In [ ]:
%load_ext sql
%sql sqlite:///testdb.sqlite

In [ ]:
%%sql
CREATE TABLE SaudiCities (
    CITY TEXT PRIMARY KEY,
    PROVINCE TEXT,
    POPULATION INTEGER
);

INSERT INTO SaudiCities (CITY,PROVINCE,POPULATION) VALUES ('Riyadh','Riyadh',4205961);

In [ ]:
%%sql
SELECT * FROM SaudiCities

In [ ]:
%%sql
INSERT INTO SaudiCities (CITY,PROVINCE,POPULATION) VALUES ('Dammam','Eastern',768602);

In [ ]:
%%sql
SELECT POPULATION FROM SaudiCities
WHERE CITY=='Riyadh'